.navbar {
  margin-bottom: 0px !important;
  border-radius: 0px;
}

.row {
  margin-left: auto; 
  margin-right: auto;
}

.sidebar {
  margin-top: 20px;
}

.user-tabs {
  margin-top: 20px;
  margin-bottom: 20px;
}